@tailwind base;
@tailwind components;
@tailwind utilities;

/* initial fade animation (first page load only) */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-up {
  opacity: 0; 
  animation: fadeUp 1.5s ease-out forwards;
  animation-delay: 0.1s; 
}


.content-hidden {
  opacity: 0;
  transform: translateY(20px);
  transition: none; 
}

.content-visible {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

/*  top animation */
@keyframes slideFromTop {
  0% { transform: translateY(0); }
  40% { transform: translateY(25px); }
  100% { transform: translateY(0); }
}

.slide-from-top {
  animation: slideFromTop 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

/* bottom animation */
@keyframes slideFromBottom {
  0% { transform: translateY(0); }
  40% { transform: translateY(-25px); }
  100% { transform: translateY(0); }
}

.slide-from-bottom {
  animation: slideFromBottom 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

/* dropdown animation*/
@keyframes dropdown {
  from {
    opacity: 0;
    transform: translateY(-10px);
    max-height: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
    max-height: 500px;
  }
}

.animate-dropdown {
  animation: dropdown 0.3s ease-out forwards;
  overflow: hidden;
}

button:hover svg {
  color: #4b5563;
}